/* 
Rules for writing CSS
1- Donot use camelCase or PascalCase
2- Use following naming converntion :

.elem-name
#elem-name

3- Avoid !important but use it when replacing bootstrap value
4- Use rem instead of px

*/


* {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* //////////// */
/* Normal LAYOUT */
/* //////////// */

#body-wrapper[data-layout='normal'] {
    min-height: 100vh;
    overflow: hidden auto;
}

/* //////////// */
/* FIXED LAYOUT */
/* //////////// */
#body-wrapper[data-layout='fixed'] {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

#body-wrapper[data-layout='fixed'] #lb-items {
    overflow: visible auto;
}

/* //////////// */
/* Left bar */
/* //////////// */
#left-bar {
    height: auto;
}

#left-bar>div:nth-child(1) {
    background: #00000044;
    z-index: 20;
}

#left-bar-in {
    background: inherit;
    will-change: width;
    width: 16rem;
    transition: width 250ms, opacity 250ms;
    z-index: 30;
}

#lb-brand {
    font-size: 1.7rem;
}
/* temporary strt */
#lb-brand::before{
    content: 'XEshboard';
}
/* temporary end */

#lb-items > div, #lb-bottom-icons{
    flex-direction: row;
}

#lb-bottom-icons > button{
    box-shadow: 0px 4px 10px 0px black;
}
#lb-config-panel{
    left: 16rem;
    opacity: 0;
}
#lb-config-panel, #lb-config-panel > div > i:nth-child(2){
    display: none;
}

/* ///////////////////// */
/* left bar interactions */
/* ///////////////////// */

#left-bar-in:hover > #lb-config-panel{
    display: block;
    animation: fx_show 200ms linear 1 forwards;
}

/* compact left bar  */

#left-bar[data-display='compact'] #left-bar-in{
    width: 3.2rem;
}
/* temporary strt */
#left-bar[data-display='compact'] #lb-brand::before{
    content: 'XE';
}
/* temporary end */
#left-bar[data-display='compact'] #lb-items > div,
#left-bar[data-display='compact'] #lb-bottom-icons{
    flex-direction: column;
}

#left-bar[data-display='compact'] #lb-items > div{
    margin-left: 0.25rem!important;
    margin-right: 0.25rem!important;
}
/* #left-bar[data-display='compact'] #lb-items > div{
    margin-left: 0rem!important;
    margin-right: 0rem!important;
    padding-top: 0.6rem!important;
    padding-bottom: 0.6rem!important;
    border-radius: 0;
    position: relative;
} */
/* #left-bar[data-display='compact'] #lb-items > div:hover .name{
    position: absolute;
    background: inherit;
    display: block!important;
    height: 100%;
    top: 0;
    left: 80%;
    width: 12.8rem;
    border-radius: 0px 10px 10px 0px;
    opacity: 0;
    animation: fx_show 200ms linear 1 forwards;
} */

#left-bar[data-display='compact'] #lb-items > div > .name,
#left-bar[data-display='compact'] #lb-items > div > .badge,
#left-bar[data-display='compact'] #lb-search-bar{
    display: none!important;
}

#left-bar[data-display='compact'] #lb-bottom-icons{
    padding-left: 0.25rem!important;
    padding-right: 0.25rem!important;
}
#left-bar[data-display='compact'] #lb-bottom-icons > button{
    box-shadow: none;
}

#left-bar[data-display='compact'] #left-bar-in > #lb-config-panel{
    left: 3.2rem;
}

/* close left bar */

#left-bar[data-display='close'] #left-bar-in{
    width: 0rem;
    overflow: hidden;
}

/* overlay true -> left bar  */

#left-bar[data-overlay='true']{
    position: absolute;
    height: 100%;
}

/* interaction mouse -> left bar */
#left-bar[data-interaction='mouse'] #left-bar-in:not(:hover){
    width: 2px;
    opacity: 0;
    overflow: hidden;
}

/* ///////////////////// */
/* left bar media queries */
/* ///////////////////// */
@media (any-hover: hover), (any-pointer: fine){
    #left-bar > div:nth-child(1) {
        display: none;
    }
}


@media (any-hover: none), (any-pointer: none) {
    #left-bar[data-display='normal'] > div:nth-child(1) {
        display: block;
    }
    #left-bar[data-display='close'] > div:nth-child(1) {
        display: none;
    }
}




/* //////////// */
/* Top bar */
/* //////////// */
#top-bar {
    height: 3rem;
}

.tb-dropdown-menu a{
    text-decoration: none;
}

.tb-item .tb-dropdown-menu{
    display: none;
}

.indicator::before {
    border: 2px solid var(--bs-light);
    animation: indicator 2s ease infinite;
}

.indicator::after {
    background-color: var(--bs-warning);
}

.indicator::before,
.indicator::after {
    content: '';
    border-radius: 50%;
    transform: translate(-50%,-50%);
    width: 7px;
    height: 7px;
    bottom: 100%;
    left: 100%;
    position: absolute;
    transition: transform 0.5s;
}

/* ///////////////////// */
/* top bar interactions */
/* ///////////////////// */
.tb-item:focus, .tb-item:focus-within{
    background-color: var(--bs-primary)!important;
    color: var(--bs-white)!important;
}

.tb-item:focus .tb-dropdown-menu, .tb-dropdown-menu:hover, .tb-dropdown-menu:focus, .tb-dropdown-menu:focus-within{
    display: block;
}

/* ///////////////////// */
/* top bar media queries */
/* ///////////////////// */

@media (any-hover: hover), (any-pointer: fine) {
    .tb-dropdown-menu{
        position: absolute;
        top: 100%;
        right: 0;
    }
}

@media (any-hover: none), (any-pointer: none) {
    .tb-dropdown-menu{
        position: fixed;
        top: 3rem;
        right: 50%;
        transform: translateX(50%);
    }
}




/* //////////// */
/* Utilities */
/* //////////// */
.bg-dark-n1 {
    background-color: #30363c !important;
}

.bg-dark-n2 {
    background-color: #3c434b !important;
}

.border-dark-n2 {
    border-color: #3c434b !important;
}

.w-80 {
    width: 80% !important;
}

.w-20 {
    width: 20% !important;
}
.text-overflow-ellipsis{
    text-overflow: ellipsis;
}
.to-primary,.to-light-1{
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.to-primary:hover{
    background-color: var(--bs-primary)!important;
    color: var(--bs-white)!important;
}
.to-light-1:hover, .bg-light-1{
    background-color: #ecf0f3!important;
}
/* //////////// */
/* Animations */
/* //////////// */
/* using indicator in top bar items */
@keyframes indicator { 
    0% {
        transform: translate(-50%,-50%) scale(1, 1);
        opacity: 1;
    }


    20% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%,-50%) scale(3, 3);
        opacity: 0;
    }
}
@keyframes fx_show {
    to {
        opacity: 1;
    }
}
