/* 
Rules for writing CSS
1- Donot use camelCase or PascalCase
2- Use following naming converntion :

.elem-name
#elem-name

3- Avoid !important but use it when replacing bootstrap value
4- Use rem instead of px
*/


* {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--bs-danger);
}

#body-wrapper {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}



/* //////////// */
/* Left bar */
/* //////////// */
#left-bar {
    height: auto;
    overscroll-behavior-y: contain;
}

#left-bar>div:nth-child(1) {
    background: #00000044;
    z-index: 20;
}

/* temporary start */
#left-bar-in {
    box-shadow: .27rem 3rem .25rem rgba(0, 0, 0, 0.3) !important;
}

/* temporary end */


#left-bar-in {
    background: inherit;
    will-change: width, opacity;
    width: 16rem;
    transition: width 300ms, opacity 400ms;
    z-index: 30;
}

#lb-brand {
    font-size: 1.7rem;
    height: 3rem;
}

/* temporary strt */
#lb-brand::before {
    content: 'XEshboard';
}

/* temporary end */

#lb-items {
    overflow-x: hidden;
    overflow-y: auto;
}

#lb-items>.lb-item {
    flex-direction: row;
    background-color: var(--dark-n2);
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
}

#lb-items>.lb-item.active {
    background-color: var(--bs-primary) !important;
}

#lb-bottom-icons>div>button:not(:focus) {
    border: none !important;
}

#lb-bottom-icons>div>button {
    box-shadow: 0px 4px 10px 0px black;
}

#lb-config-panel {
    left: 16rem;
    opacity: 0;
}

#lb-config-panel,
#lb-config-panel>div>i:nth-child(2),
#toggle-lb-display-close>i:nth-child(2) {
    display: none;
}

/* ///////////////////// */
/* left bar interactions */
/* ///////////////////// */

#left-bar-in:hover>#lb-config-panel {
    display: block;
    animation: fx_show 200ms linear 1 forwards;
}

#left-bar[data-display='normal'] #lb-items>.lb-item .name {
    height: auto !important;
}

/* compact left bar  */

#left-bar[data-display='compact'] #left-bar-in {
    width: 4rem;
}

/* temporary strt */
#left-bar[data-display='compact'] #lb-brand::before {
    content: 'XE';
}

/* temporary end */

#left-bar[data-display='compact'] #lb-items>.lb-item {
    flex-direction: column;
}

#left-bar[data-display='compact'] #lb-items>.lb-item {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    border-radius: 0 !important;
    position: relative;
    flex-direction: column;
}

#left-bar[data-display='compact'] #lb-items>.lb-item>.name {
    font-size: 0.6rem;
    margin-left: 0px !important;
}


#left-bar[data-display='compact'] #lb-items>.lb-item>.badge,
#left-bar[data-display='compact'] #lb-search-bar,
#left-bar[data-display='compact'] #lb-bottom-icons>div {
    display: none !important;
}

#left-bar[data-display='compact'] #lb-bottom-icons>button {
    display: block !important;
}

#left-bar[data-display='compact'] #lb-bottom-icons>div {
    animation: fx_show 300ms, fx_slide_right 200ms;
    animation-fill-mode: forwards, forwards;
    opacity: 0;
    background: inherit;
}

#left-bar[data-display='compact'] #lb-bottom-icons>div {
    height: 100%;
    top: 0%;
    left: 100%;
    width: 16rem !important;
    position: absolute;
}

#left-bar[data-display='compact'] #lb-bottom-icons>button:hover+div,
#left-bar[data-display='compact'] #lb-bottom-icons>div:hover {
    display: flex !important;
}

#left-bar[data-display='compact'] #left-bar-in>#lb-config-panel {
    left: 4rem;
}

#left-bar[data-display='compact'] #left-bar-in>#lb-config-panel>#toggle-lb-display-compact {
    transform: rotateY(180deg);
}

/* close left bar */

#left-bar[data-display='close'] #left-bar-in {
    width: 0px;
    opacity: 0;
    overflow: hidden;
}

/* overlay true -> left bar  */

#left-bar[data-overlay='true'] {
    position: absolute;
    height: 100%;
}

#left-bar[data-overlay='true'] #left-bar-in>#lb-config-panel>#toggle-lb-overlay {
    background-color: var(--bs-primary) !important;
}

/* interaction mouse -> left bar */
#left-bar[data-interaction='mouse'] #left-bar-in:not(:hover) {
    width: 2px;
    opacity: 0;
    overflow: hidden;
}

#left-bar[data-interaction='mouse'] #left-bar-in>#lb-config-panel>#toggle-lb-interaction-mouse {
    background-color: var(--bs-primary) !important;
}

#left-bar[data-interaction='mouse'] #left-bar-in>#lb-config-panel>#toggle-lb-display-compact,
#left-bar[data-interaction='mouse']+section>#top-bar #toggle-lb-display-close {
    pointer-events: none;
    cursor: not-allowed;
}

#left-bar[data-interaction='mouse'] #left-bar-in>#lb-config-panel>#toggle-lb-display-compact>i:nth-child(2),
#left-bar[data-interaction='mouse']+section>#top-bar #toggle-lb-display-close>i:nth-child(2) {
    display: block;
}


/* Topbar first button behaviour on left bar different modes */
@media (any-hover: hover),
(any-pointer: fine) {
    #left-bar[data-overlay='true'][data-display='normal']+section>#top-bar>div:nth-child(1) {
        position: absolute;
        left: 16rem;
    }

    #left-bar[data-overlay='true'][data-display='compact']+section>#top-bar>div:nth-child(1) {
        position: absolute;
        left: 4rem;
    }

    #left-bar[data-overlay='true'][data-display='close']+section>#top-bar>div:nth-child(1) {
        position: absolute;
        left: 0rem;
    }

    #left-bar[data-overlay='true'][data-display='normal'][data-interaction='mouse']+section>#top-bar>div:nth-child(1) {
        position: static;
    }
}


/* ///////////////////// */
/* left bar media queries */
/* ///////////////////// */
@media (any-hover: hover),
(any-pointer: fine) {
    #left-bar>div:nth-child(1) {
        display: none;
    }
}


@media (any-hover: none),
(any-pointer: none) {
    #left-bar[data-display='normal']>div:nth-child(1) {
        display: block;
    }

    #left-bar[data-display='close']>div:nth-child(1) {
        display: none;
    }

    #lb-config-panel {
        display: none !important;
    }
}

/* //////////// */
/* Right bar */
/* //////////// */

#right-bar {
    width: 16rem;
    will-change: width, opacity;
    transition: width 300ms, opacity 400ms;
    z-index: 30;
}

/* ///////////////////// */
/* Right bar interactions*/
/* ///////////////////// */
#right-bar[data-display='close'] {
    width: 0px;
    opacity: 0;
    overflow: hidden;
}


/* //////////// */
/* Top bar */
/* //////////// */
#top-bar {
    height: 3rem;
    z-index: 10;
}

.tb-dropdown-menu a {
    text-decoration: none;
}

.tb-item .tb-dropdown-menu {
    display: none;
    width: 19rem;
}

.tb-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
}

.tb-item .tb-dropdown-menu a:focus {
    outline: none;
}

.indicator::before {
    border: 2px solid var(--bs-light);
    animation: indicator 2s ease infinite;
}

.indicator::after {
    background-color: var(--bs-warning);
}

.indicator::before,
.indicator::after {
    content: '';
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    bottom: 100%;
    left: 100%;
    position: absolute;
    transition: transform 0.5s;
}

/* ///////////////////// */
/* top bar interactions */
/* ///////////////////// */
.tb-item:focus,
.tb-item:focus-within {
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
}

.tb-item:focus .tb-dropdown-menu,
.tb-item:focus-within .tb-dropdown-menu,
.tb-dropdown-menu:hover,
.tb-dropdown-menu:focus,
.tb-dropdown-menu:focus-within {
    display: block;
}

/* ///////////////////// */
/* top bar media queries */
/* ///////////////////// */

@media (max-width : 767px) {
    .tb-dropdown-menu:not(:nth-child(3)) {
        position: fixed;
        top: 3rem;
        right: 50%;
        transform: translateX(50%);
    }
}






/* //////////// */
/* Mid section */
/* //////////// */
#content-in-search>div {
    opacity: 0;
    display: none;
}

#content-in-search:focus-within>div {
    animation: fx_show 500ms;
    animation-fill-mode: forwards;
    display: flex;
}

/* ///////////////////// */
/* Mid Section interactions */
/* ///////////////////// */

#content[data-display='expand'] {
    position: fixed !important;
    z-index: 200;
}

#content[data-display='expand'] #toggle-content-display-expand>i::before {
    content: '\f066' !important;
}


/* Login page */

#section-login .nav-item>a {
    color: var(--bs-gray);
}

#section-login .nav-item>a.active {
    background-color: var(--bs-light);
    border-radius: 0 !important;
}

/* product add page
.c-form-select {
    padding-left: 2px !important;
    padding-right: 30px !important;
    max-width: 97px;
}

#product-brand .nav-item>a {
    color: var(--bs-gray);
}

#product-brand .nav-item>a.active {
    background-color: var(--bs-light);
    border-radius: 0 !important;
}

.dz-preview {
    z-index: 1;
}

.rating_star {
    display: flex;
    flex-direction: row;
    transform: rotateY(180deg);
    margin: 0 auto;
}

.rating_star input {
    width: 20%;
    display: flex;
    height: 20px;
    position: relative;
    visibility: hidden;
}

.rating_star input::before {
    left: 0px;
    top: 0px;
    color: var(--bs-gray);
    font-size: 25px;
    display: flex;
    visibility: visible;
    content: "\2605";
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.rating_star input:hover::before,
.rating_star input:hover~input::before,
.rating_star input:checked:before,
.rating_star input:checked~input::before {
    content: "\2605";
    color: var(--bs-primary);
} */




/* //////////// */
/* Utilities */
/* //////////// */

:root {
    --dark-n1: #30363c;
    --dark-n2: #3c434b;
    --light-1: #ecf0f3;
}

.bg-dark-n1 {
    background-color: var(--dark-n1) !important;
}

.bg-dark-n2 {
    background-color: var(--dark-n2) !important;
}

.bg-inherit {
    background-color: inherit !important;

}

.border-dark-n2 {
    border-color: var(--dark-n2) !important;
}

.l-bg-danger {
    background: linear-gradient(to right, #493240, #f09) !important;
}

.l-bg-info {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
}

.l-bg-success {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
}

.l-bg-warning {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
}

.w-90 {
    width: 90% !important;
}

.w-80 {
    width: 80% !important;
}

.w-20 {
    width: 20% !important;
}

.w-10 {
    width: 10% !important;
}

.w-5 {
    width: 5% !important;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis !important;
}

.to-primary,
.to-light-1,
.to-secondary {
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.to-primary:hover,
.to-primary.active,
.to-primary:focus {
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
}

.to-light-1:hover,
.to-light-1.active,
.to-light-1:focus,
.bg-light-1 {
    background-color: var(--light-1) !important;
}

.to-secondary:hover,
.to-secondary.active,
.to-secondary:focus {
    background-color: var(--bs-secondary) !important;
}

.text-light-transparent {
    color: #ffffff33 !important;
}

.text-dark-n2 {
    color: var(--dark-n2) !important;
}

.h7,
.fs-7 {
    font-size: 0.9rem !important;
}

.h8,
.fs-8 {
    font-size: 0.8rem !important;
}

.h9,
.fs-9 {
    font-size: 0.7rem !important;
}


.cursor-pointer {
    cursor: pointer;
}

/* //////////// */
/* Animations */
/* //////////// */
/* using indicator in top bar items */
@keyframes indicator {
    0% {
        transform: translate(-50%, -50%) scale(1, 1);
        opacity: 1;
    }


    20% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(3, 3);
        opacity: 0;
    }
}


@keyframes fx_slide_right {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fx_show {
    to {
        opacity: 1;
    }
}

/* @keyframes fx_expand {
    to {
        width: 100%;
    }
}
@keyframes fx_left0 {
    to {
        left: 0%;
    }
} */